In [14]:
import pandas as pd
import numpy as np
from scipy.stats import shapiro, pearsonr, spearmanr, ttest_ind

# 1. Объединение двух массивов в DataFrame
petersburg = [0.0974, 0.1352, 0.0817, 0.1016, 0.0968, 0.1064, 0.105]
magadan = [0.1033, 0.0915, 0.0781, 0.0685, 0.0677, 0.0697, 0.0764, 0.0689]
df = pd.DataFrame({"Petersburg": pd.Series(petersburg), "Magadan": pd.Series(magadan)})

display(df)

   Petersburg  Magadan
0      0.0974   0.1033
1      0.1352   0.0915
2      0.0817   0.0781
3      0.1016   0.0685
4      0.0968   0.0677
5      0.1064   0.0697
6      0.1050   0.0764
7         NaN   0.0689

In [22]:
# Замена пустых значений (NaN) в столбце 'Petersburg' медианным значением
df['Petersburg'] = df['Petersburg'].fillna(df['Petersburg'].median())

display(df)

   Petersburg  Magadan
0      0.0974   0.1033
1      0.1352   0.0915
2      0.0817   0.0781
3      0.1016   0.0685
4      0.0968   0.0677
5      0.1064   0.0697
6      0.1050   0.0764
7      0.1016   0.0689

In [23]:
# 2. Проверка данных на нормальность с использованием теста Шапиро-Уилка
from scipy.stats import shapiro

H0 = 'Данные распределены нормально'
Ha = 'Данные не распределены нормально (мы отвергаем H0)'
alpha = 0.05

_, p = shapiro(df)
print('p=%.3f' % p)

# Интерпретация 

if p > alpha:
	print(H0)
else:
	print(Ha)

p=0.101
Данные распределены нормально

Вывод: нормальное распределение данных, количественные типы данных, сравниваются 2 группы и объектов менее 30, выбираем T-тест.

In [24]:
from scipy.stats import ttest_ind

In [ ]:
H0 = 'Нет значимой разницы между размерами мидии в разных городах.'
Ha = 'Есть значимая разница между размерами мидии в разных городах.'

In [25]:
def t_test(df):
    print('\n' + "*** Результаты независимого T-теста ***")
    test_results = ttest_ind(df['Petersburg'], df['Magadan'], equal_var=True)

    p = round(test_results[1],2)

    if p>alpha:
        print(f"{p} > {alpha}. Мы не можем отвергнуть нулевую гипотезу. {H0}")
    else:
        print(f"{p} <= {alpha}. Мы отвергаем нулевую гипотезу. {Ha}")

t_test(df)

*** Результаты независимого T-теста ***
0.0 <= 0.05. Мы отвергаем нулевую гипотезу. Данные не распределены нормально (мы отвергаем H0)