In [1]:
print('Hello')

Hello

In [2]:
a = [1,2,3]
b = a
c = [1,2,3]
print(a == b, a == c, a is b, a is c)

True True True False

In [8]:
one = [1, "2", 3, "4"]
two = ("a", "b", "c", "d")
three = one + two

TypeError: can only concatenate list (not "tuple") to list

In [14]:
my_lst = [1,2,3,4,6]
my_lst = my_lst[:-1]
print(my_lst)

[1, 2, 3, 4]

In [22]:
my_dict = {'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Cologne': 1085664, 'Frankfurt': 753056 }

for key, value in my_dict.items():
    print(key, value)

Berlin 3748148
Hamburg 1822445
Munich 1471508
Cologne 1085664
Frankfurt 753056

for key, value in my_dict:

for key, value in my_dict.items():

for key, value in my_dict.values():

for key, value in my_dict.keys().values():

In [28]:
s = 'a b c'
s = ''.join(s.split(' '))
print(s)

s = 'a b c d'
b = s.replace(' ', '')
print(b)

abc
abcd

In [36]:
s = '1234'
print(s.isnumeric())

True

In [37]:

def read_data():
    data = open('data/war_peace_processed.txt', 'rt', encoding='utf-8').read()
    data = data.split('\n')
    return data


# Функция подсчёта частоты употребления слова в тексте
def freq(target_word):  
    new_dict = dict() 
    for i in data: # СТРОКА С ОШИБКОЙ
        if i not in new_dict:
            new_dict[i] = 1
        else:
            new_dict[i] = new_dict.get(i) + 1
    return new_dict.get(target_word, 0)


# Вызов функций
read_data()
freq('война')

NameError: name 'data' is not defined

Вам предоставлен словарь products, ключами которого являются названия продуктов, а значениями — их цены. Затем к вам приходит другой словарь (stocks), ключи которого — товары, а значения — скидки (в процентах) на товары.

Напишите функцию apply_discounts(products, stocks), которая снижает цену продуктов в словаре products на указанный в словаре stocks процент. Функция должна вернуть результирующий словарь, ключи которого — товары, а значения — новые цены. Если продукта из словаря stocks нет в словаре products, то его необходимо пропустить. Цены округлите до второго знака после запятой.

In [50]:
products = {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 199.99, 'Juice J7 (orange)': 119.99, 'Trout (Seven Seas)': 399.99}
stocks = {'Boiled sausage': '33%', 'Juice J7 (orange)': '12%', 'Trout (Seven Seas)': '18%'}

def apply_discounts(products, stocks):
    products_1 = products.keys()
    products_2 = stocks.keys()
    dct = dict()
    for product in products.keys():
        for stock in stocks.keys():
            if product == stock:
                dct = {**dct, product: products.values()}
                return dct


print(apply_discounts(products, stocks))



#This code is contributed by Edula Vinay Kumar Reddy

## {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 133.99, 'Juice J7 (orange)': 105.59, 'Trout (Seven Seas)': 327.99}

{'Boiled sausage': dict_values([114.99, 280.0, 199.99, 119.99, 399.99])}

In [55]:
products = {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 199.99, 'Juice J7 (orange)': 119.99, 'Trout (Seven Seas)': 399.99}
stocks = {'Boiled sausage': '33%', 'Juice J7 (orange)': '12%', 'Trout (Seven Seas)': '18%'}

products_1 = products.keys()
products_2 = stocks.keys()
products_3 = list()
for product1 in products_1:
    for product2 in products_2:
        if product1 == product2:
            products_3.append(product1)

dct = dict()
dct = dict.fromkeys(products_3, 0)

for good1 in products.keys():
    for good2 in stocks.keys():
        if good1 == good2:
            dct.update({good1: products.values()})
print(dct)

{'Boiled sausage': dict_values([114.99, 280.0, 199.99, 119.99, 399.99]), 'Juice J7 (orange)': dict_values([114.99, 280.0, 199.99, 119.99, 399.99]), 'Trout (Seven Seas)': dict_values([114.99, 280.0, 199.99, 119.99, 399.99])}

Вам даны два файла bronze_top.csv и silver_top.csv, в которых хранится информация о ТОП-5 стран по числу бронзовых и серебряных медалей соответственно. В каждой таблице два одинаковых столбца: Country — страна и Total — число медалей.

Создайте два DataFrame на основе заданных csv-файлов. Объедините таблицы по странам таким образом, чтобы в результат вошли данные только о тех странах, которые попали в оба рейтинга. При этом в качестве суффиксов укажите строки "_bronze" и "_silver", чтобы столбцы таблиц, не участвовавших в объединении, можно было различать.

Результирующий DataFrame занесите в переменную merged. В нём должны быть следующие столбцы:

Country
Total_bronze
Total_silver
Не забудьте добавить в свой код импорт библиотеки pandas.

Также обратите внимание, что для отправки решения на проверку выводить результат на экран не нужно.

In [56]:
dict1 = {'яблоки': 100, 'бананы': 333, 'груши': 200,
         'апельсины': 300, 'ананасы': 45, 'лимоны': 98,
     	'сливы': 76, 'манго': 34, 'виноград': 90, 'лаймы': 230}
dict2 = {'яблоки': 300, 'груши': 200, 'бананы': 400,
     	'малина': 777, 'ананасы': 12, 'лаймы': 123, 'черника': 111, 'арбузы': 666}
merged_dict = {key: dict1.get(key, 0) + dict2.get(key, 0) for key in set(dict1) | set(dict2)}
print("Объединенный словарь:", merged_dict)

products = {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 199.99, 'Juice J7 (orange)': 119.99, 'Trout (Seven Seas)': 399.99}
stocks = {'Boiled sausage': '33%', 'Juice J7 (orange)': '12%', 'Trout (Seven Seas)': '18%'}
stocks_2 = 

new_price = {key: products.get(key, 0) - products.get(key, 0) * int(stocks.get(key, 0))}

Объединенный словарь: {'ананасы': 57, 'арбузы': 666, 'черника': 111, 'манго': 34, 'груши': 400, 'бананы': 733, 'лимоны': 98, 'виноград': 90, 'малина': 777, 'сливы': 76, 'яблоки': 400, 'апельсины': 300, 'лаймы': 353}

In [66]:
stocks = {'Boiled sausage': '33%', 'Juice J7 (orange)': '12%', 'Trout (Seven Seas)': '18%'}

for good, percent in stocks.items():
    stocks[good] = int(percent.replace('%',''))/100
print(stocks)
products = {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 199.99, 'Juice J7 (orange)': 119.99, 'Trout (Seven Seas)': 399.99}
new_price = {key: products.get(key, 0) - products.get(key, 0) * stocks.get(key, 0) for key in set(products) | set(stocks)}
print(new_price)

{'Boiled sausage': 0.33, 'Juice J7 (orange)': 0.12, 'Trout (Seven Seas)': 0.18}
{'Boiled sausage': 133.9933, 'Candy (Rotfront)': 280.0, 'Oranges (packaged)': 114.99, 'Juice J7 (orange)': 105.5912, 'Trout (Seven Seas)': 327.9918}

Дана таблица с данными о ежедневной выработке энергии солнечными батареями. Информация содержится в двух столбцах:

date — дата наблюдения;
cum_power — накопленная (кумулятивная) выработка энергии на указанный день.
Таким образом, перед вами классический пример временного ряда — числовой показатель, зависящий от времени. Давайте с ним поработаем.

Для начала прочитаем таблицу и выведем первые пять её строк:

solar_data = pd.read_csv('data/solarpower.csv')
solar_data.head()
img

Задание 3.1
1 point possible (graded)
В нашем временном ряде есть несколько пропусков, они обозначены числом -1. Заполните пропуски средним арифметическим между двумя соседними наблюдениями:

Совет: проще всего будет сделать это, используя цикл по индексам элементов столбца cum_power, но вы можете предложить более изящное решение.

Чему равно среднее арифметическое в столбце cum_power после заполнения пропусков? Ответ округлите до целого.

  нет ответа 
 
СохранитьSave your answer
Отправить
You have used 0 of 1 attemptSome problems have options such as save, reset, hints, or show answer. These options follow the Submit button.
Задание 3.2
1 point possible (graded)
Теперь, когда таблица заполнена, создайте столбец day_power — ежедневная выработка солнечной энергии.

Далее создайте данные о средней ежедневной выработке энергии на каждый месяц-год.

Совет: для того чтобы выделить из даты год и месяц, проще всего будет воспользоваться методом аксессора dt.to_period('M'), который позволяет выделять периоды (в данном случае 'М' — месяц).

Затем сгруппируйте данные по периодам (год-месяц) и рассчитайте среднее в столбце day_power.

Сколько солнечной энергии в среднем в день выработали в марте 2017 года? Ответ округлите до целого.

  нет ответа 
 
Hint
СохранитьSave your answer
Отправить
You have used 0 of 1 attemptSome problems have options such as save, reset, hints, or show answer. These options follow the Submit button.
Задание 3.3
1 point possible (graded)

Постройте график временного ряда — средней ежедневной выработки солнечной энергии на каждый месяц-год. Не забудьте подписать оси и сам график.

Выберите вывод, который можно сделать из полученного графика:

В периоды осень-зима наблюдается наименьшая выработка солнечной энергии, в периоды весна-лета — наибольшая.
В периоды весна-лета наблюдается наименьшая выработка солнечной энергии, в периоды осень-зима — наибольшая.
Выработка солнечной энергии примерно одинакова во все сезоны.

In [72]:
products = {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 199.99, 'Juice J7 (orange)': 119.99, 'Trout (Seven Seas)': 399.99}
stocks = {'Boiled sausage': '33%', 'Juice J7 (orange)': '12%', 'Trout (Seven Seas)': '18%'}

products_1 = products.keys()
products_2 = stocks.keys()
products_3 = list()
for product1 in products_1:
    for product2 in products_2:
        if product1 == product2:
            products_3.append(product1)
            

for good, percent in stocks.items():
    stocks[good] = int(percent.replace('%',''))/100
print(stocks)

goods = {}
for good, price in products.items():
    if good in products_3:
        goods[good] = price
print(goods)
        
new_price = {key: goods.get(key, 0) - goods.get(key, 0) * stocks.get(key, 0) for key in set(goods) | set(stocks)}
result = {}
for product, price in new_price.items():
    result[product] = round(price,2)
print(result)

{'Boiled sausage': 0.33, 'Juice J7 (orange)': 0.12, 'Trout (Seven Seas)': 0.18}
{'Boiled sausage': 199.99, 'Juice J7 (orange)': 119.99, 'Trout (Seven Seas)': 399.99}
{'Boiled sausage': 133.99, 'Juice J7 (orange)': 105.59, 'Trout (Seven Seas)': 327.99}

In [74]:
products = {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 199.99, 'Juice J7 (orange)': 119.99, 'Trout (Seven Seas)': 399.99}
stocks = {'Boiled sausage': '33%', 'Juice J7 (orange)': '12%', 'Trout (Seven Seas)': '18%'}

def apply_discounts(products, stocks):
    products_1 = products.keys()
    products_2 = stocks.keys()
    products_3 = list()
    for product1 in products_1:
        for product2 in products_2:
            if product1 == product2:
                products_3.append(product1)
            

    for good, percent in stocks.items():
        stocks[good] = int(percent.replace('%',''))/100

    goods = {}
    for good, price in products.items():
        if good in products_3:
            goods[good] = price
        
    new_price = {key: goods.get(key, 0) - goods.get(key, 0) * stocks.get(key, 0) for key in set(goods) | set(stocks)}
    goods_stocks = {}
    for product, price in new_price.items():
        goods_stocks[product] = round(price,2)
    
    result = {}
    for good, price in products.items():
        if good in products_3:
            result[good] = goods_stocks[good]
        else:
            result[good] = products[good]
    return result
    


print(apply_discounts(products, stocks))

{'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 133.99, 'Juice J7 (orange)': 105.59, 'Trout (Seven Seas)': 327.99}

In [ ]:
def apply_discounts(products, stocks):
    for s in stocks:
        stock = float(stocks[s].replace('%', ''))
        if s in products:
            products[s] = round(products[s] - products[s] * stock /100, 2)
    return products

In [11]:
import pandas as pd
silver = pd.read_csv('data/silver_top.csv', sep=',')
bronze = pd.read_csv('data/bronze_top.csv', sep=',')

merged = bronze.merge(
    silver,
    on='Country',
    how='inner',
    suffixes=('_bronze', '_silver'),
)
display(merged)
display(bronze)
display(silver)

   Country  Total_bronze  Total_silver
0   Russia            10            11
1      USA             8             7
2    China             6             9
3  Germany             4             5

   Country  Total
0   Russia     10
1      USA      8
2    China      6
3  Germany      4
4   Brasil      2

     Country  Total
0     Russia     11
1      China      9
2        USA      7
3    Germany      5
4  Argentina      3

In [20]:
solar_data = pd.read_csv('data/solarpower.csv')
mask = solar_data['cum_power'] == -1
display(solar_data[mask]) 


solar_data.describe()

Empty DataFrame
Columns: [date, cum_power]
Index: []

          cum_power
count    664.000000
mean   23848.246988
std     2299.031052
min    20111.000000
25%    22071.250000
50%    24037.000000
75%    25335.500000
max    28120.000000

In [19]:
print((27986+28010)/2)

27998.0